i {
    height:100%;
    width:stretch;
}
.ic {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    vertical-align: middle;
}
.ic::before {
    content: "";
}
.ic-archive {
    mask-image: url('/icons/archive.svg');
    -webkit-mask-image: url('/icons/archive.svg');
}
.ic-arrow-90deg-left {
    mask-image: url('/icons/arrow-90deg-left.svg');
    -webkit-mask-image: url('/icons/arrow-90deg-left.svg');
}
.ic-arrow-clockwise {
    mask-image: url('/icons/arrow-clockwise.svg');
    -webkit-mask-image: url('/icons/arrow-clockwise.svg');
}
.ic-arrow-left {
    mask-image: url('/icons/arrow-left.svg');
    -webkit-mask-image: url('/icons/arrow-left.svg');
}
.ic-arrow-repeat {
    mask-image: url('/icons/arrow-repeat.svg');
    -webkit-mask-image: url('/icons/arrow-repeat.svg');
}
.ic-arrow-right {
    mask-image: url('/icons/arrow-right.svg');
    -webkit-mask-image: url('/icons/arrow-right.svg');
}
.ic-award {
    mask-image: url('/icons/award.svg');
    -webkit-mask-image: url('/icons/award.svg');
}
.ic-badge-cc-fill {
    mask-image: url('/icons/badge-cc-fill.svg');
    -webkit-mask-image: url('/icons/badge-cc-fill.svg');
}
.ic-balloon-heart {
    mask-image: url('/icons/balloon-heart.svg');
    -webkit-mask-image: url('/icons/balloon-heart.svg');
}
.ic-bell-fill {
    mask-image: url('/icons/bell-fill.svg');
    -webkit-mask-image: url('/icons/bell-fill.svg');
}
.ic-blocksi {
    mask-image: url('/icons/blocksi.png');
    -webkit-mask-image: url('/icons/blocksi.png');
}
.ic-broadcast {
    mask-image: url('/icons/broadcast.svg');
    -webkit-mask-image: url('/icons/broadcast.svg');
}
.ic-check2 {
    mask-image: url('/icons/check2.svg');
    -webkit-mask-image: url('/icons/check2.svg');
}
.ic-chevron-left {
    mask-image: url('/icons/chevron-left.svg');
    -webkit-mask-image: url('/icons/chevron-left.svg');
}
.ic-chevron-right {
    mask-image: url('/icons/chevron-right.svg');
    -webkit-mask-image: url('/icons/chevron-right.svg');
}
.ic-chevron-up {
    mask-image: url('/icons/chevron-up.svg');
    -webkit-mask-image: url('/icons/chevron-up.svg');
}
.ic-cloud-arrow-down {
    mask-image: url('/icons/cloud-arrow-down.svg');
    -webkit-mask-image: url('/icons/cloud-arrow-down.svg');
}
.ic-cloud-check {
    mask-image: url('/icons/cloud-check.svg');
    -webkit-mask-image: url('/icons/cloud-check.svg');
}
.ic-code-square {
    mask-image: url('/icons/code-square.svg');
    -webkit-mask-image: url('/icons/code-square.svg');
}
.ic-cogs {
    mask-image: url('/icons/cogs.svg');
    -webkit-mask-image: url('/icons/cogs.svg');
}
.ic-collection {
    mask-image: url('/icons/collection.svg');
    -webkit-mask-image: url('/icons/collection.svg');
}
.ic-compass {
    mask-image: url('/icons/compass.svg');
    -webkit-mask-image: url('/icons/compass.svg');
}
.ic-copy {
    mask-image: url('/icons/copy.svg');
    -webkit-mask-image: url('/icons/copy.svg');
}
.ic-dash {
    mask-image: url('/icons/dash.svg');
    -webkit-mask-image: url('/icons/dash.svg');
}
.ic-discord {
    mask-image: url('/icons/discord.svg');
    -webkit-mask-image: url('/icons/discord.svg');
}
.ic-download {
    mask-image: url('/icons/download.svg');
    -webkit-mask-image: url('/icons/download.svg');
}
.ic-emoji-smile {
    mask-image: url('/icons/emoji-smile.svg');
    -webkit-mask-image: url('/icons/emoji-smile.svg');
}
.ic-file-earmark-code {
    mask-image: url('/icons/file-earmark-code.svg');
    -webkit-mask-image: url('/icons/file-earmark-code.svg');
}
.ic-file-earmark-music {
    mask-image: url('/icons/file-earmark-music.svg');
    -webkit-mask-image: url('/icons/file-earmark-music.svg');
}
.ic-file-earmark-plus {
    mask-image: url('/icons/file-earmark-plus.svg');
    -webkit-mask-image: url('/icons/file-earmark-plus.svg');
}
.ic-file-earmark-text {
    mask-image: url('/icons/file-earmark-text.svg');
    -webkit-mask-image: url('/icons/file-earmark-text.svg');
}
.ic-film {
    mask-image: url('/icons/film.svg');
    -webkit-mask-image: url('/icons/film.svg');
}
.ic-fullscreen-exit {
    mask-image: url('/icons/fullscreen-exit.svg');
    -webkit-mask-image: url('/icons/fullscreen-exit.svg');
}
.ic-fullscreen {
    mask-image: url('/icons/fullscreen.svg');
    -webkit-mask-image: url('/icons/fullscreen.svg');
}
.ic-gear {
    mask-image: url('/icons/gear.svg');
    -webkit-mask-image: url('/icons/gear.svg');
}
.ic-globe2 {
    mask-image: url('/icons/globe2.svg');
    -webkit-mask-image: url('/icons/globe2.svg');
}
.ic-goguardian {
    mask-image: url('/icons/goguardian.png');
    -webkit-mask-image: url('/icons/goguardian.png');
}
.ic-grip-vertical {
    mask-image: url('/icons/grip-vertical.svg');
    -webkit-mask-image: url('/icons/grip-vertical.svg');
}
.ic-group {
    mask-image: url('/icons/group.svg');
    -webkit-mask-image: url('/icons/group.svg');
}
.ic-handshake {
    mask-image: url('/icons/handshake.svg');
    -webkit-mask-image: url('/icons/handshake.svg');
}
.ic-hdd {
    mask-image: url('/icons/hdd.svg');
    -webkit-mask-image: url('/icons/hdd.svg');
}
.ic-heart-fill {
    mask-image: url('/icons/heart-fill.svg');
    -webkit-mask-image: url('/icons/heart-fill.svg');
}
.ic-heart-half {
    mask-image: url('/icons/heart-half.svg');
    -webkit-mask-image: url('/icons/heart-half.svg');
}
.ic-hearts {
    mask-image: url('/icons/hearts.svg');
    -webkit-mask-image: url('/icons/hearts.svg');
}
.ic-hourglass-split {
    mask-image: url('/icons/hourglass-split.svg');
    -webkit-mask-image: url('/icons/hourglass-split.svg');
}
.ic-image-fill {
    mask-image: url('/icons/image-fill.svg');
    -webkit-mask-image: url('/icons/image-fill.svg');
}
.ic-info-circle {
    mask-image: url('/icons/info-circle.svg');
    -webkit-mask-image: url('/icons/info-circle.svg');
}
.ic-lanschool {
    mask-image: url('/icons/lanschool.png');
    -webkit-mask-image: url('/icons/lanschool.png');
}
.ic-leaf-fill {
    mask-image: url('/icons/leaf-fill.svg');
    -webkit-mask-image: url('/icons/leaf-fill.svg');
}
.ic-linewize {
    mask-image: url('/icons/linewize.png');
    -webkit-mask-image: url('/icons/linewize.png');
}
.ic-link {
    mask-image: url('/icons/link.svg');
    -webkit-mask-image: url('/icons/link.svg');
}
.ic-list {
    mask-image: url('/icons/list.svg');
    -webkit-mask-image: url('/icons/list.svg');
}
.ic-music {
    mask-image: url('/icons/music.svg');
    -webkit-mask-image: url('/icons/music.svg');
}
.ic-music-note-list {
    mask-image: url('/icons/music-note-list.svg');
    -webkit-mask-image: url('/icons/music-note-list.svg');
}
.ic-offline {
    mask-image: url('/icons/offline.png');
    -webkit-mask-image: url('/icons/offline.png');
}
.ic-online {
    mask-image: url('/icons/online.png');
    -webkit-mask-image: url('/icons/online.png');
}
.ic-pause-fill {
    mask-image: url('/icons/pause-fill.svg');
    -webkit-mask-image: url('/icons/pause-fill.svg');
}
.ic-pencil-fill {
    mask-image: url('/icons/pencil-fill.svg');
    -webkit-mask-image: url('/icons/pencil-fill.svg');
}
.ic-pencil-square {
    mask-image: url('/icons/pencil-square.svg');
    -webkit-mask-image: url('/icons/pencil-square.svg');
}
.ic-people-fill {
    mask-image: url('/icons/people-fill.svg');
    -webkit-mask-image: url('/icons/people-fill.svg');
}
.ic-pip {
    mask-image: url('/icons/pip.svg');
    -webkit-mask-image: url('/icons/pip.svg');
}
.ic-play-fill {
    mask-image: url('/icons/play-fill.svg');
    -webkit-mask-image: url('/icons/play-fill.svg');
}
.ic-plus-lg {
    mask-image: url('/icons/plus-lg.svg');
    -webkit-mask-image: url('/icons/plus-lg.svg');
    font-size: large;
}
.ic-plus {
    mask-image: url('/icons/plus.svg');
    -webkit-mask-image: url('/icons/plus.svg');
}
.ic-pumpkin {
    mask-image: url('/icons/pumpkin.svg');
    -webkit-mask-image: url('/icons/pumpkin.svg');
}
.ic-search {
    mask-image: url('/icons/search.svg');
    -webkit-mask-image: url('/icons/search.svg');
}
.ic-securely {
    mask-image: url('/icons/securely.png');
    -webkit-mask-image: url('/icons/securely.png');
}
.ic-send {
    mask-image: url('/icons/send.svg');
    -webkit-mask-image: url('/icons/send.svg');
}
.ic-shield-check {
    mask-image: url('/icons/shield-check.svg');
    -webkit-mask-image: url('/icons/shield-check.svg');
}
.ic-shield-exclamation {
    mask-image: url('/icons/shield-exclamation.svg');
    -webkit-mask-image: url('/icons/shield-exclamation.svg');
}
.ic-shield-fill {
    mask-image: url('/icons/shield-fill.svg');
    -webkit-mask-image: url('/icons/shield-fill.svg');
}
.ic-shield-plus {
    mask-image: url('/icons/shield-plus.svg');
    -webkit-mask-image: url('/icons/shield-plus.svg');
}
.ic-shield-plus::before {
    content:icon-url('/icons/shield-plus.svg');
}
.ic-shield-shaded {
    mask-image: url('/icons/shield-shaded.svg');
    -webkit-mask-image: url('/icons/shield-shaded.svg');
}
.ic-shield {
    mask-image: url('/icons/shield.svg');
    -webkit-mask-image: url('/icons/shield.svg');
}
.ic-shield-halved {
    mask-image: url('/icons/shield-halved.svg');
    -webkit-mask-image: url('/icons/shield-halved.svg');
}
.ic-shuffle {
    mask-image: url('/icons/shuffle.svg');
    -webkit-mask-image: url('/icons/shuffle.svg');  
}
.ic-skip-end-fill {
    mask-image: url('/icons/skip-end-fill.svg');
    -webkit-mask-image: url('/icons/skip-end-fill.svg');
}
.ic-skip-start-fill {
    mask-image: url('/icons/skip-start-fill.svg');
    -webkit-mask-image: url('/icons/skip-start-fill.svg');
}
.ic-snow {
    mask-image: url('/icons/snow.svg');
    -webkit-mask-image: url('/icons/snow.svg');
}
.ic-speedometer {
    mask-image: url('/icons/speedometer.svg');
    -webkit-mask-image: url('/icons/speedometer.svg');
}
.ic-spotify {
    mask-image: url('/icons/spotify.svg');
    -webkit-mask-image: url('/icons/spotify.svg');
}
.ic-stopwatch {
    mask-image: url('/icons/stopwatch.svg');
    -webkit-mask-image: url('/icons/stopwatch.svg');
}
.ic-three-dots-vertical {
    mask-image: url('/icons/three-dots-vertical.svg');
    -webkit-mask-image: url('/icons/three-dots-vertical.svg');
}
.ic-trash {
    mask-image: url('/icons/trash.svg');
    -webkit-mask-image: url('/icons/trash.svg');
}
.ic-volume-mute-fill {
    mask-image: url('/icons/volume-mute-fill.svg');
    -webkit-mask-image: url('/icons/volume-mute-fill.svg');
}
.ic-volume-up-fill {
    mask-image: url('/icons/volume-up-fill.svg');
    -webkit-mask-image: url('/icons/volume-up-fill.svg');
}
.ic-x {
    mask-image: url('/icons/x.svg');
    -webkit-mask-image: url('/icons/x.svg');
}
.ic-x-circle {
    mask-image: url('/icons/x-circle.svg');
    -webkit-mask-image: url('/icons/x-circle.svg');
}
.ic-x-lg {
    mask-image: url('/icons/x-lg.svg');
    -webkit-mask-image: url('/icons/x-lg.svg');
    font-size:large;
}