:root{
    --bg:#0f1f14;
    --panel:#14261a;
    --accent:#35d07f;
    --text:#d7ffe7;
    --muted:#8fbfa3;
}
body{
    margin:0;
    background:var(--bg);
    color:var(--text);
    font-family:system-ui;
    display:flex;
}
.sidebar{
    width:260px;
    background:var(--panel);
    height:100vh;
    padding:20px;
    position:fixed;
}
.logo{
    color:var(--accent);
    font-size:3.5em;
    font-weight:750;
    top:-7px;
    position:relative;
}
.link{
    color:var(--accent);
    transition:0.3s all;
}
.link:hover{
    color:var(--muted);
}
.logoImg {
    height:50px;
    width:50px;
}
.content{
    margin-left:260px;
    padding:40px;
    max-width:900px;
}
.doc-header{
    font-size:34px;
    color:var(--accent)
}
.doc-body{
    color:var(--muted);
    line-height:1.6;
    margin-left:20px;
}
.dropdown-content{
    display:none;
    padding-left:40px;
}
.dropdown.open .dropdown-content{
    display:block
}
.dropbtn{
    margin-left:20px;
    background:none;
    border:none;
    transition:0.3s all;
    width:90%;
    text-align:left;
    color:var(--text);
    cursor:pointer;
    padding:6px 8px;
    border-radius:6px;
}
.dropbtn:hover{
    background:#1c3325;
    color:var(--text);
}
.code-block, pre{
    background:#08120c !important;
    padding:16px;
    border-radius:10px;
    overflow:auto;
    margin-top:20px;
    display:block;
}
.token-keyword{
    color:#7CFFB2
}
.token-string{
    color:#b4ffdf
}
.token-comment{
    color:#4d7c66
}
.token-number{
    color:#a6ffd1
}
.token-tag{
    color:#5cff9c
}
.token-attr{
    color:#b7ffd9
}
.sidebar a{
    display:block;
    padding:6px 8px;
    border-radius:6px;
    color:var(--muted);
    text-decoration:none;
    font-size:0.9em;
    transition:0.3s all;
}
.sidebar a:hover{
    background:#1c3325;
    color:var(--text)
}
.sidebar a.active{
    background:var(--accent);
    color:#062313;
    font-weight:600
}
.content{
    margin-left:260px;
    padding:30px 100px;
}
.search{
    width:100%;
    padding:12px;
    margin:20px 0 30px 0;
    background:#08120c;
    border:1px solid #1f3b2b;
    border-radius:8px;
    color:var(--text);
}
.endpoint{
    margin-bottom:60px
}
pre {
    width:fit-content;
    font-size:0.75em !important;
}